body {
    background: linear-gradient(
        to bottom,
        #e6eaef 0%,
        #f2f3ee 40%,
        #dbcef4 100% 
    );
    padding: 1rem 5rem 2rem 5rem;
}

/* BENTO GRID */
.bento-grid {
    display: grid;
    gap: 1.5rem;

    grid-template-columns: 2fr 1.6fr 1.8fr 1.4fr;
    grid-auto-rows: minmax(100px, auto);

    grid-template-areas:
        "hero        hero        hero        colors"
        "hero        hero        hero        accessory1"
        "hero        hero        hero        accessory1"
        "more-models reviews     accessory2  feature";
}

.bento-card--hero        { grid-area: hero; }
.bento-card--colors      { grid-area: colors; }
.bento-card--more-models { grid-area: more-models; }
.bento-card--reviews     { grid-area: reviews; }
.bento-card--feature     { grid-area: feature; }
.accessory--armrest      { grid-area: accessory1; }
.accessory--footrest     { grid-area: accessory2; }

.bento-card, .navbar{
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 24px;
    padding: 1.5rem;
    box-shadow: 0 8px 20px rgba(0,0,0,0.06);
}

.hero__media img{
    width: 24.5rem;
    height: auto;
}

/* NAVBAR */
.navbar{
    margin-bottom: 1rem;
}

/* HERO */



/* POPULAR COLORS */


/* MORE MODELS */


/* REVIEWS */ 


/* FEATURE CARD - ERGO + SYSTEM */


/* ACCESSORY - FOOTREST */ 